<h1>Login</h1>
<form action="/login" method="POST">

    <label>Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <br>

    <label>Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <br>
    <button type="submit">Login</button>

</form>
<a href="/Registration">Registration</a>