<h1>Registration</h1>
<form action="/registration" method="POST">

    <label>Name</label>
    <input type="text" name="name" id="name" required>
    <br>
    <br>

    <label>Email</label>
    <input type="email" name="email" id="email" required>
    <br>
    <br>

    <label>Password</label>
    <input type="password" name="password" id="password" required>
    <br>
    <br>
    <button type="submit">Register</button>

</form>
<a href="/login">Login</a>